<h2>Add New Publisher</h2>

<%= form_for @publisher do |f| %> 
	
	<div class="form-group">
		<%= f.label :name %><br />
		<%= f.text_field :name, class:'form-control' %><br />
	</div>

	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%=link_to "Cancel", categories_path, class:'btn btn-default' %>

<% end %> 