<div id="books-index">
	<% @books.each do |book| %>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<h3><%= book.title %></h3>
				<% image_tag(book.coverpath) %>
				<%= link_to 'Read More', book_path(book), class: 'btn btn-primary' %>
			</div> 
		
		</div> 
	<% end %> 
</div> 
