<h2>Add New Book</h2>

<%= form_for @book do |f| %>

	

	<div class="form-group">
		<%= f.label :title %><br />
		<%= f.text_field :title, class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :isbn %><br />
		<%= f.text_field :isbn ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :category %><br />
		<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br /><br />
	</div>

	<div class="form-group">
		<%= f.label :author %><br />
		<%= f.select :author_id, Author.all.collect {|x| [x.first_name + ' '+ x.last_name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br /><br />
	</div>

	<div class="form-group">
		<%= f.label :publisher %><br />
		<%= f.select :publisher_id, Publisher.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %><br /><br />
	</div>

	<div class="form-group">
		<%= f.label :format %><br />
		<%= f.text_field :format ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :year %><br />
		<%= f.text_field :year ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :coverpath %><br />
		<%= f.text_field :coverpath ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :excerpt %><br />
		<%= f.text_area :excerpt ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :pages %><br />
		<%= f.number_field :pages ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :price %><br />
		<%= f.text_field :price ,class:'form-control' %><br />
	</div>

	<div class="form-group">
		<%= f.label :buy %><br />
		<%= f.text_field :buy ,class:'form-control' %><br />
	</div>

	<%= f.submit "Submit", class:'btn btn-primary' %>
	<%= link_to "Cancel", books_path, class:'btn btn-default' %> 


<% end %>


