<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title : 'Welcome' %> | The Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" date-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="<%= params[:controller] == 'books' ? 'active' : '' %>"><%= link_to 'Home', root_path %></li>
				<li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to 'About', about_index_path %></li>
			</ul> 
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Add New<span class="caret"></span></a>
			<ul class="dropdown-menu navbar-right" role="menu">
				<li><%= link_to "Book", new_book_path %></li>
				<li><%= link_to "Category", new_category_path %></li>
				<li><%= link_to "Author", new_author_path %></li>
				<li><%= link_to "Publisher", new_publisher_path %></li>
			</ul> 
		</div>
	</div>
</div> 

<header>
	<div class="container">
		<h1>The Bookstore <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
	</div> 
</header> 

<section> 
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<% if flash[:notice] %>
					<div class="alert alert-success"><%= flash[:notice] %></div>
				<% end %> 
				<% if flash[:alert] %>
					<div class="alert alert-danger"><%= flash[:alert] %></div>
				<% end %> 
				<%= yield %>
			</div>
			<div class="col-md-4">
				<%= render 'partials/sidebar' %>
			</div> 
		</div> 
	</div>
</section> 

<div class="container">	
	<footer>
		<p>Copyright &copy 2014. All Rights Reserved.</p>
	</footer> 
</div>



</body>
</html>
